.header {
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5f0f5;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.logo {
  font-size: 22px;
  color: #1b2023;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav {
  display: flex;
  align-items: center;

  & > a {
    font-size: 14px;
    color: #1b2023;
    margin-left: 16px;
  }
}
