@import "./markdown.less";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  outline: none;
  text-decoration: none;
  transition: all .3s ease;
}

.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    background: #fafcfd;
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  height: 0;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.header {
  height: 60px;
  flex-shrink: 0;
  background: #fff;
  position: relative;
  z-index: 1;
}

.right {
  flex-shrink: 0;
  box-sizing: border-box;
  border-left: 1px solid #e5f0f5;
  width: 300px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.left {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background: #fff;
}

.loader {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  background: #fff2f0;
  border: 1px solid #ffccc7;
  padding: 15px;
  font-size: 14px;
  color: #333;
  margin: 10px;
}

button {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  touch-action: manipulation;
  height: 26px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
}
