.menu {
  margin: 60px 40px 30px 30px;
  font-size: 16px;

  > a {
    display: block;
    margin-bottom: 25px;
    color: #666;
    border-left: 5px solid transparent;
    padding-left: 10px;

    &:hover, &.active {
      color: #000;
      border-left-color: #40a9ff;
    }
  }
}
